*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#atual{
    color: white;
}

.link a{
    color: var(--escuro);
    padding: 5px;
}

.link a:hover{
    color: var(--escuro);
    transition-duration: 0.5s;
    border-radius: 10px;
    background-color: rgb(243, 199, 116)
}

hr{
    background-color: black;
    height: 1px;
    width: 20%;
    margin: 20px auto;
}

/*
CONFIGURANDO BODY E HEADER
*/

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

header .logo{
    color: var(--escuro);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: bolder;
}

header nav a{
    font-weight: bolder;
    font-size: 20px;
    color: var(--escuro);
    padding: 10px;
    border-radius: 200px;
}

header nav a:hover{
    color: var(--escuro);
    transition-duration: 0.5s;
    background-color: rgb(243, 199, 116);
}
/*
MAIN E BLOCOS DO MAIN
*/
main{
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    justify-content: space-around;

    padding: 10px;
    margin: auto;
    width: 800px;
}
.bloco-desafio{
    display: flex;
    justify-content: center;
    align-items: center;


}
.bloco-desafio img{
    width: 200px;
    height: 300px;
}

iframe{
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    border: 1px solid white;
}