@font-face {
    font-family: mother;
    src: url(fonte/YorkieDEMO-Medium.otf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fontPadrao);
}

:root{
    --fontTitulo: mother, 'Times New Roman', Times, serif;
    --fontPadrao: Georgia, 'Times New Roman', Times, serif;
}


body{
    background-image: url(imagens/fundo-body.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 5px 10px black;
}

header{
    text-align: center;
    background-color: black;
    color: yellow;
    height: 150px;
}

header h1{
    font-family: var(--fontTitulo);
    padding-top: 65px;
    font-weight: normal;
    font-size: 2.5em;
}

nav{
    background-color: black;
    text-align: center;
    height: 30px;
    padding-top: 15px;
}

nav a{
    color: yellow;
    text-decoration: none;
    padding: 15px;
}

nav a:hover{
    background-color: rgb(250, 250, 137);
    border-radius: 20px;
    color: black;
    transition-duration: 0.5s;
}


main{
    background-color: white;
    margin: auto;
    max-width: 711px;
    box-shadow: 1px 1px 10px black;
}

main p{
    padding: 10px;
    font-size: 1.3em;
    word-spacing: 5px;
    line-height: 25px;
}

footer p{
    text-align: center;
    padding: 20px;
    color: yellow;
    background-color: black;
    
}

