@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
/*---------------------------------*/
body {
    background-image:linear-gradient(to right,#9771F0,#6D6BFA);
}
/*---------------------------------*/
main {
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.514);
    width: 80%;
    padding: 10px;
    margin:auto
}
/*---------------------------------*/
h1{
    color: #1800E0;
    text-align: center;
    text-shadow: 1px 3px 0px rgba(67, 60, 138, 0.253);
}
/*---------------------------------*/
h2{
    color: #0C75F0;
}
/*---------------------------------P---------------------------------*/
/*---------------------------------P---------------------------------*/
p{
    text-align: justify;
    color: black;

}