@charset 'UTF-8';
/*=========================================================*/
/*=========================================================*/
body{
    background-color:#61ebfa7c;
    font-family:Arial, Helvetica, sans-serif;

}
/*=========================================================*/
/*=========================================================*/
h1{
    color:#17373B;
}
/*=========================================================*/
/*=========================================================*/
#principal{
    background-color:#17373B;
    color: white;
    text-align: center;
}
/*=========================================================*/
/*=========================================================*/
h2{
    color: #30737A;
}
/*=========================================================*/
/*=========================================================*/
.basico{
    color: rgb(64, 184, 64);
    font-weight: bold;
}
/*=========================================================*/
/*=========================================================*/
.intermediario{
    color: rgb(192, 190, 62);
    font-weight: bold;
}
/*=========================================================*/
/*=========================================================*/
.avancado{
    color: rgb(189, 81, 62);
    font-weight: bold;
}