*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    width: 100vw;
    height: 100vh;
}
header{
    font-size: 1.5em;
    padding:10px 0px;
}
.container{
    background-color: bisque;
    width: 500px;
    height: 350px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px black;
}
.imagem img{
    display: block;
    margin: auto;
    width: 500px;
    height: 262px;
}
.descrição p{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 2em;
}


