*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/fundo.png);
    width: 50vw;
}

nav{
    background-color: #d2d2c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav a:hover{
    cursor: pointer;
    transition-duration: 0.3s;
    color: white;
}

img{
    width: 50vw;
    border: 1px solid black;
    
}

main{
    margin-top: 5px;
    border: 1px solid black;
    background-color: #d3d3b3;
}

footer{
    text-align: center;
    border: 1px solid black;
    width: 100%;
    font-weight: bolder;
}